{% extends 'public/base.html' %}

{% block title %}
<title>用户添加</title>
{% endblock %}

{% block con %}
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-users page-header-heading-icon"></span> 用户添加</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
        <div class="widget am-cf">
            <div class="widget-body am-fr">
                <form action="{% url 'user_insert' %}" method="post" enctype="multipart/form-data" class="am-form tpl-form-line-form" >
                    {% csrf_token %}
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label"> 用户名 <span class="tpl-form-line-small-title">Username</span></label>
                        <div class="am-u-sm-9">
                            <input type="text" class="tpl-form-input" name="username" required maxlength="20" minlength="2">
                            <small>请填写用户名2-20字左右</small>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label"> 密码 <span class="tpl-form-line-small-title">Password</span></label>
                        <div class="am-u-sm-9">
                            <input type="password" class="tpl-form-input" name="password" required minlength="6" maxlength="24">
                            <small>请填写用户密码6-24字左右</small>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label"> 年龄 <span class="tpl-form-line-small-title">Age</span></label>
                        <div class="am-u-sm-9">
                            <input type="text" class="tpl-form-input" name="age" >
                            <small>请填写用户年龄</small>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label"> 性别 <span class="tpl-form-line-small-title">Sex</span></label>
                        <div class="am-u-sm-9">
                            <div class="am-form-group">
                        <label class="am-radio-inline">
                            <input type="radio" value="1" name="sex"> 男
                        </label>
                        <label class="am-radio-inline">
                            <input type="radio" value="0" name="sex"> 女
                        </label>
                    </div>
                            <small>请选择性别</small>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label"> 邮箱 <span class="tpl-form-line-small-title">Email</span></label>
                        <div class="am-u-sm-9">
                            <input type="email" class="tpl-form-input" name="email" required maxlength="50">
                            <small>请填写邮箱50字以内</small>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label"> 电话 <span class="tpl-form-line-small-title">Phone</span></label>
                        <div class="am-u-sm-9">
                            <input type="text" class="tpl-form-input" name="phone" required minlength="11" maxlength="11">
                            <small>请填写用户电话号码</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-weibo" class="am-u-sm-3 am-form-label">
                        上传头像
                        </label>
                        <div class="am-u-sm-9">
                            <div class="am-form-group am-form-file">
                                <div id="preview">
                                    <img id="imghead" style="width: 150px" border=0 src='/static/pics/user.jpg'>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                            <i class="am-icon-cloud-upload"></i> 上传头像
                                    </button>
                                    <input name="pic" type="file" onchange="previewImage(this)" multiple="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <style type="text/css">
    #preview{width:150px;height:150px;border:1px solid #000;overflow:hidden;}
    #imghead {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);}
    </style>
    <script type="text/javascript">
          //图片上传预览    IE是用了滤镜。
            function previewImage(file)
            {
              var MAXWIDTH  = 150;
              var MAXHEIGHT = 150;
              var div = document.getElementById('preview');
              if (file.files && file.files[0])
              {
                  div.innerHTML ='<img id=imghead>';
                  var img = document.getElementById('imghead');
                  img.onload = function(){
                    var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                    img.width  =  rect.width;
                    img.height =  rect.height;
    //                 img.style.marginLeft = rect.left+'px';
                    img.style.marginTop = rect.top+'px';
                  }
                  var reader = new FileReader();
                  reader.onload = function(evt){img.src = evt.target.result;}
                  reader.readAsDataURL(file.files[0]);
              }
              else //兼容IE
              {
                var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
                file.select();
                var src = document.selection.createRange().text;
                div.innerHTML = '<img id=imghead>';
                var img = document.getElementById('imghead');
                img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
                div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
              }
            }
            function clacImgZoomParam( maxWidth, maxHeight, width, height ){
                var param = {top:0, left:0, width:width, height:height};
                if( width>maxWidth || height>maxHeight )
                {
                    rateWidth = width / maxWidth;
                    rateHeight = height / maxHeight;

                    if( rateWidth > rateHeight )
                    {
                        param.width =  maxWidth;
                        param.height = Math.round(height / rateWidth);
                    }else
                    {
                        param.width = Math.round(width / rateHeight);
                        param.height = maxHeight;
                    }
                }
                param.left = Math.round((maxWidth - param.width) / 2);
                param.top = Math.round((maxHeight - param.height) / 2);
                return param;
            }
    </script>
{% endblock %}

