{% extends "public/appbase.html" %}

{% block title %}
<title>商品列表</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="/static/app/css/list.css">
    <link rel="stylesheet" type="text/css" href="/static/app/css/list-app.css">
{% endblock %}

{% block main %}

<!-- 主内容区域 -->
<div class="mainlist app-list">
    <div class="container">
        <!-- 面包屑 导航 -->
        <div class="ml-nav hidden-xs hidden-sm">
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'app_index' %}">
                        首页
                    </a>
                </li>
                <li>
                    <a href="{% url 'app_list' ob.id %}">
                        {{ ob.name }}
                    </a>
                </li>
            </ol>
        </div>
        <!-- 面包屑 导航 E-->
        <!-- 分类列表 -->
        <div class="selector hidden-xs hidden-sm">
            <div class="sl-category">
                <div class="sl-line-wrap clearfix">
                    <div class="mod-key">
                        分类：
                    </div>
                    <div class="mod-value">
                        <div class="mod-value-list">
                            <ul>
                                <li class="">
                                    <a href="{% url 'app_list' ob.id %}" title="全部">
                                        全部
                                    </a>
                                </li>
                                {% for o in ob2 %}
                                <li class="">
                                    <a href="{% url 'app_list' o.id %}" title="魅族系列">
                                        {{ o.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 分类列表 E -->
        <!-- 分类导航 -->
        <div class="filter clearfix hidden-xs hidden-sm" style="display:block">

            <div class="filter-condition">
                <label class="bs-checkbox" data-mtype="store_list_sx_xz">
                    <i>
                    </i>
                    仅显示有货商品
                </label>
            </div>
        </div>
        <!-- 分类导航 E -->
        <!-- 商品列表 -->
        <div class="goods-list">
            {% for g in goodslist %}
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="gl-item">
                        <div class="compare-btn-list">
                            <i class="iconfont  icon-duibi compare-duibi">
                            </i>
                            <span class="hidden-xs hidden-sm">
                                对比
                            </span>
                        </div>
                        <div class="gl-item-wrap">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active mod-pic" id="list-p1">
                                    <a href="{% url 'app_info' g.id %}">
                                        <img class="lazy j-modProduct" src="{{ g.pic }}" width="220"
                                        height="220">
                                    </a>
                                </div>
                            </div>
                            <h2 style="margin: 30px 0;font-size: 20px">
                                {{ g.title }}
                            </h2>
                            <dd class="mod-price">
                                <span>
                                    ￥
                                </span>
                                <span class="vm-price">
                                    {{ g.price }}
                                </span>
                                <span class="vm-start">
                                    起
                                </span>
                            </dd>
                        </div>
                    </div>
                </div>
            {% endfor %}
        <!-- 商品列表 -->

    </div>
</div>
</div>
<!-- 主内容区域 E-->

{% endblock %}