{% extends 'public/base.html' %}

{% block title %}
<title>商品添加</title>
{% endblock %}

{% block con %}
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-users page-header-heading-icon"></span> 商品添加</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
        <div class="widget am-cf">
            <div class="widget-body am-fr">
                <form action="{% url 'goods_update' %}" method="post" enctype="multipart/form-data" class="am-form tpl-form-line-form" >
                    {% csrf_token %}
                    <input type="hidden" value="{{ goodsinfo.id }}" name="id">
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">所属分类</label>
                        <div class="am-u-sm-9">
                            <select name="tid" data-am-selected="">
                                {% for d in data %}
                                    {% if d.pid == 0 %}
                                        <option disabled value="{{ d.id }}">{{ d.name }}</option>
                                    {% else %}
                                        <option value="{{ d.id }}" {% if goodsinfo.tid.name == d.name %} selected {% endif %} >&nbsp&nbsp&nbsp&nbsp{{ d.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label"> 商品名 <span class="tpl-form-line-small-title">Title</span></label>
                        <div class="am-u-sm-9">
                            <input type="text" class="tpl-form-input" name="title" value="{{ goodsinfo.title }}">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label"> 价格 <span class="tpl-form-line-small-title">Price</span></label>
                        <div class="am-u-sm-9">
                            <input type="text" class="tpl-form-input" name="price" value="{{ goodsinfo.price }}">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label"> 库存 <span class="tpl-form-line-small-title">Number</span></label>
                        <div class="am-u-sm-9">
                            <input type="text" class="tpl-form-input" name="num" value="{{ goodsinfo.num }}">
                        </div>
                    </div>
                    <div class="am-form-group">
                      <label for="user-name" class="am-u-sm-3 am-form-label">
                       商品状态
                          <span class="tpl-form-line-small-title">State</span>
                       </label>
                      <div class="am-u-sm-9">
                       <select name="status" data-am-selected="">
                          <option {% if goodsinfo.status == 0 %} selected {% endif %} value="0">新发布</option>
                          <option {% if goodsinfo.status == 1 %} selected {% endif %} value="1">热卖</option>
                          <option {% if goodsinfo.status == 2 %} selected {% endif %} value="2">下架</option>
                       </select>
                      </div>
                    </div>
                    <div class="am-form-group">
                       <label for="user-weibo" class="am-u-sm-3 am-form-label">
                        上传缩略图
                        </label>
                       <div class="am-u-sm-9">
                           <div class="am-form-group am-form-file">
                               <div class="tpl-form-file-img">
                                   <img src="{{ goodsinfo.pic }}" alt="" style="width: 100px;">
                               </div>
                               <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                    <i class="am-icon-cloud-upload"></i> 添加缩略图
                                </button>
                               <input name="pic" type="file" multiple="">
                           </div>
                       </div>
                    </div>
                    <link rel="stylesheet" type="text/css" href="/ueditor/UE/third-party/SyntaxHighlighter/shCoreDefault.css">
                    <script type="text/javascript" src="/ueditor/UE/third-party/SyntaxHighlighter/shCore.js"></script>
                    <script type="text/javascript" src="/ueditor/UE/ueditor.config.js"></script>
                    <script type="text/javascript" src="/ueditor/UE/ueditor.all.min.js"></script>
                    <script type="text/javascript" src="/ueditor/UE/lang/zh-cn/zh-cn.js"></script>
                    <div class="am-form-group">
                        <label for="num" class="am-u-sm-3 am-form-label"> 详情 <span class="tpl-form-line-small-title">Details</span></label>
                        <div class="am-u-sm-9">
                            <!-- <textarea name="info" class="" rows="10"  placeholder="商品详情"></textarea> -->
                            <div id="editor" name="info" type="text/plain" style="height:500px;color: #000;"></div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        var ue = UE.getEditor('editor');
        SyntaxHighlighter.all();
        ue.ready(function() {
            ue.setContent('{{ goodsinfo.info|safe }}');
        });
</script>
{% endblock %}

